.servicesList {
  margin: 40px;
  column-gap: 80px;
  column-count: 2;
  column-fill: auto;

  h3 {
    margin: 0;
    border-bottom: 1px solid #efefef;
  }

  .serviceGroup {
    -webkit-column-break-inside: avoid;
    margin-bottom: 15px;
  }

  .serviceRow {
    display: flex;
    justify-content: space-between;

    .serviceDuration {
        padding-right: 20px;
        text-align: right;
    }

    .servicePrice {
        text-align: right;
        width: 90px;
    }

    .serviceName {
        flex-grow: 1;
    }
  }

  .serviceRow:nth-child(odd) {
    background-color: #efefef;
  }
}
