@import "../../../assets/styles/colors.scss";

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;

  h4 {
      margin: 0;
  }


  .contactBlock {
    margin: 20px;
    .items {
      display: flex;
      justify-content: space-between;
    }
  }

  .footerItem {
    display: flex;
    justify-content: space-between;
  }

  .footerItemHeading {
    margin-right: 10px;
  }
}

@media screen and (max-width: 1024px) {
    .footer {
        flex-wrap: wrap;
        justify-content: flex-start;

        .contactBlock {
            width: 45%;
        }
    }
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
}
