.subsidiaries {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.subsidiaryBox {
  border: 1px solid #efefef;
  width: 260px;

  h2 {
    font-weight: normal;
    padding-left: 10px;
    font-size: 14pt;
    
    color: black;
  }

  img {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .subsidiaries {
    flex-wrap: wrap;

    .subsidiaryBox {
      width: auto;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }
  }
}