.subsidiaries {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.subsidiaryBox {
  border: 1px solid silver;
  width: 260px;

  h2 {
    font-weight: normal;
    padding-left: 10px;
    font-size: 14pt;
  }

  img {
    width: 100%;
  }
}