$color-brand-primary: #bdd748;
$color-brand-primary-alternative: #454F1B;
$color-highlight: #1C110A;

//$color-background: #F3F7DD;
//$color-background-alt: #EDF4CD;

$color-background: #e5e5e5;
$color-background-alt: #f0f0f0;

$color-shadow: darken($color-background, 5%);

$color-complementary: #E4D6A7;
$color-accent: #9B2915;
$color-accent-alt: #50A2A7;

$color-white: #ffffff;
$color-black: #000000;
$color-font-grey: #9c9c9c;